@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  /* Apply the custom deep black background and monospace font globally */
  @apply bg-deep-black font-mono text-off-white;
}

/* Ensure smooth scrolling for single-page nav */
html {
  scroll-behavior: smooth;
}